In [5]:
print("Hello World")

Hello World

In [6]:
a= 100
b= 200

print (a+b)

300

In [7]:
a= 123
b=-456
print(a)
print(b)

123
-456

In [8]:
a=10000

In [9]:
print(a)

10000

In [10]:
c=1.2
d=-3.45
print(c)
print(d)

1.2
-3.45

In [11]:
a=True
print(a)

True

In [12]:
b=False
print(b)

False

In [13]:
msg='안녕하세요. 파이썬'
print(msg)

안녕하세요. 파이썬

In [14]:
hello = None
print(hello)

None

In [15]:
a=1
b=2
print(a)
print(b)

1
2

In [16]:
a,b = b,a
print(a)

2

In [17]:
print(b)

1

In [18]:
a=3
b=4
c=a+b
print(c)

7

In [19]:
print(a-b)
print(a*b)
print(a/b)

-1
12
0.75

In [20]:
print(10/3)

3.3333333333333335

In [21]:
print(10//3)

3

In [22]:
print(10%3)

1

In [23]:
print(3**2)

9

In [24]:
a=1
a+=100
a*=10
a//=3
a%=5
print(a)

1

In [25]:
print(100==50)
print(100!=50)
print(100>=50)
print(100>50)
print(100<50)
print(100<=50)

False
True
True
True
False
False

In [26]:
result = 100>50
print(result)

True

In [27]:
print(True and True)
print(True and False)
print( False and True)
print(False and False)

True
False
False
False

In [28]:
print(True or True)
print(True or False)

True
True

In [29]:
print(False or True)
print(False or False)

True
False

In [30]:
print(not True)
print(not False)
mybool = True
reverse = not mybool
print(reverse)

False
True
False

In [31]:
a = 100>50
b=20>10
print(a and b)

True

In [32]:
c=100>=100 and 50 == 10
print(c)

False

In [33]:
print (100!=200 and 100 == 100)

True

In [34]:
msg1=input("메시지를 입력하세요:")
print(msg1)

In [35]:
t= type(msg1)
print(t)

<class 'str'>

In [36]:
msg2=input("정수를 입력하세요")
num = int(msg2)
print(num)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
num_type=type(num)
print(num_type)

In [ ]:
msg3 = input("실수를 입력하세요")
fnum = float(msg3)
print(fnum)

In [ ]:
fnum_type=type(fnum)
print(fnum_type)

In [ ]:
num1=100
num2=float(num1)
print(num2)

In [ ]:
t1=type(num2)
print(t1)

In [ ]:
num3=123.78
num4 = int(num3)
print(num4)

In [ ]:
t2=type(num4)
print(t2)

In [ ]:
num1=100
s1=str(num1)
print(type(num1),type(s1))

In [ ]:
num2=3.14
s2=str(num2)
print(type(num2),type(s2))

In [ ]:
a=pow(2,8)
print(a)

In [ ]:
a=abs(100)
print(a)

b=abs(-100)
print(b)

c=abs(-12.345)
print(c)

In [ ]:
n=round(123.78)
print(n)

In [ ]:
n2=round(123.76,1)
print(n2)

In [ ]:
def say_hello():
    print("Hello Python")
    print("안녕 파이썬")

In [ ]:
say_hello()

In [ ]:
def f(x):
    y=x+1
    print(y)

In [ ]:
f(2)

In [ ]:
f(3)

In [ ]:
def foo(count):
    x=count*10
    print(x)

In [ ]:
foo(2)

In [ ]:
def hello(x,y):
    z=x+y
    print(z)

In [ ]:
hello(2,1)

In [ ]:
hello(5,3)

In [ ]:
def sum1(x,y,z=0):
    answer=x+y+z
    print(answer)

In [ ]:
sum1(1,2,3)

In [ ]:
sum(1,2)

In [ ]:
sum1(1,2)

In [ ]:
def sum2(a,b,c=0,d=0):
    answer=a+b+c+d
    print(answer)

In [ ]:
sum2(d=3,c=4,b=2,a=1)

In [ ]:
sum2(1,2)

In [ ]:
def plus(x,y):
    z=x+y
    return z

In [ ]:
a = plus(10,20)
print(a)

In [ ]:
print(plus(100,200))

In [ ]:
b=plus(5,7)+100
print(b)

In [ ]:
def foo(x,y):
    return 0
    z= x+y
    return z

In [ ]:
print(foo(100,200))

In [ ]:
a=100
b=200

def foo():
    k=a+b
    print(k)

In [ ]:
foo()

In [ ]:
print(k)

In [ ]:
print("시험시작")

score=int(input("점수를 입력하세요: "))

if score>=60:
    print("합격입니다.")
print("시험 끝")

In [ ]:
money = 10000
if money:
    print("택시를 타고")
print("집에가자")

In [ ]:
name="Python"

if name:
    print(name)
print("프로그래밍")

In [ ]:
myage = int(input("나이를 입력하세요: "))
if myage==19:
    print("19살 입니다.")
if myage !=20:
    print("20살이 아닙니다.")
if myage>19:
    print("성인입니다.")
if myage<=19:
    print("청소년입니다.")

In [ ]:
point = int(input("점수를 입력하세요"))
if point>70 and point <=80:
    print("C학점 입니다.")

if point <=70 or point>80:
    print("C학점이 아닙니다.")

In [ ]:
isKorean = True

if isKorean == True:
    print("한국사람입니다...(1)")

if isKorean == False:
    print("한국사람이 아닙니다...(2)")

if isKorean !=True:
    print("한국사람이 아닙니다...(3)")

if isKorean != False:
    print("한국사람입니다...(4)")

if isKorean:
    print("한국사람입니다...(5)")

if not isKorean:
    print("한국사람이 아닙니다...(6)")

In [ ]:
print("시험 시작")

score=int(input("점수를 입력하세요: "))
if score>=60:
    print("합격입니다.")
else:
    print("불합격입니다.")
print("시험 끝")

In [ ]:
answer = input("한국인입니까? (Y/N)")

if answer=="Y": 
    isKorean=True
else:
    isKorean=False

if isKorean:
    print("한국사람 입니다...(1)")
else:
    print("한국사람이 아닙니다...(2)")

if not isKorean:
    print("한국사람이 아닙니다...(3)")
else:
    print("한국사람 입니다...(4)")

In [ ]:
print("시험시작")

point=int(input("점수를 입력하세요: "))

if point>=90:
    print("A학점")
elif point>=80:
    print("B학점")
elif point>=70:
    print("C학점")
elif point>=60:
    print("D학점")
else:
    print("F학점")
print("시험끝")

In [ ]:
x=1
while x<=10:
    print("x = ",x)
    x+=1
print("x의 최종값 =",x)

In [ ]:
x = int(input("숫자를 입력하세요."))
y=1
while y<10:
    z=x*y
    print(x,"x",y,"=",z)
    y+=1

In [ ]:
x=1
sum=0
while x<=10:
    sum+=x
    print("x = ", x, "-> sum =", sum)
    x+=1

In [ ]:
a = 0 
while a<50:
    print(a)
    a+=10

In [ ]:
b=10
while b>0:
    print(b)
    b-=2

In [ ]:
for x in range(1,11):
    print("x=",x)
print("x의 최종값 =",x)

In [ ]:
x = int(input("숫자를 입력하세요."))
for y in range(1,10):
    z=x*y
    print(x,"x",y,"=",z)

In [ ]:
sum = 0
for i in range(1,11):
    sum+=i
    print("i =",i,"-> sum =",sum)

In [ ]:
for i in range(0,50,10):
    print(i)

In [ ]:
for i in range(10,0,-2):
    print(i)

In [ ]:
number = int(input("숫자를 입력하세요: "))

x=0
y=0

for i in range(1,number+1):
    if i%2==0:
        x+=i
    else:
        y+=i

print("짝수의 합:", x)
print("홀수의 합:", y)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
for i in range(0,5):
    for j in range(i,5):
        print('*',end='')
    print()

*****
****
***
**
*

In [ ]:
count=0
for i in range(1,7):
    for j in range(1,7):
        if i+j==6:
            count+=1
            print(i,j)
print("경우의 수:", count)

1 5
2 4
3 3
4 2
5 1
경우의 수: 5

In [ ]:
mylist = [10,20,30]
print(mylist[1])
print(mylist[-1])

20
30

In [ ]:
first = mylist[0]
print(first)

10

In [ ]:
mylist[1]=200
print(mylist)

[10, 200, 30]

In [ ]:
mylist = [60,70,80,90,100]
print(mylist[1:3])

[70, 80]

In [ ]:
print(mylist[1:-2])

[70, 80]

In [ ]:
print(mylist[3:])

[90, 100]

In [ ]:
print(mylist[:3])

[60, 70, 80]

In [ ]:
print(mylist)

[60, 70, 80, 90, 100]

In [ ]:
print(mylist[:])

[60, 70, 80, 90, 100]

In [ ]:
foo = [1,2,3,4,5]
foo[1:4]=[20,30,40]
print(foo)

[1, 20, 30, 40, 5]

In [ ]:
bar = [11,22,33,44,55]
bar[1:4] = []
print(bar)

[11, 55]

In [ ]:
hello = [6,7,8,9,10]
hello [1:4] = [100,200,300,400,500,600,700]
print(hello)

[6, 100, 200, 300, 400, 500, 600, 700, 10]

In [ ]:
world = [11,12,13,14,15]
world[1:4] = [1000,2000]
print(world)

[11, 1000, 2000, 15]

In [ ]:
a=100
b=a
print(a)
print(b)

100
100

In [ ]:
b=200
print(a)

100

In [ ]:
print(b)

200

In [ ]:
foo=[1,2,3]
bar=foo
print(foo)
print(bar)

[1, 2, 3]
[1, 2, 3]

In [ ]:
bar[1]=20
print(foo)
print(bar)

[1, 20, 3]
[1, 20, 3]

In [ ]:
bar=[1,2,3]
cp1=[0,0,0]
cp1[0]=bar[0]
cp1[1]=bar[1]
cp1[2]=bar[2]

cp1[2]=1000
print(bar)
print(cp1)

[1, 2, 3]
[1, 2, 1000]

In [ ]:
hello = [100,200,300]
cp2 = hello[:]

In [ ]:
cp2[1]=12345
print(hello)
print(cp2)

[100, 200, 300]
[100, 12345, 300]

In [ ]:
world=["hello","python","world"]
cp3=world.copy()

cp3[0]="nice"
print(world)
print(cp3)

['hello', 'python', 'world']
['nice', 'python', 'world']

In [ ]:
grade=(98,82,73,64,100)
print(grade)

(98, 82, 73, 64, 100)

In [ ]:
names=("철수","영희","나영","민식","호영")
print(names)

('철수', '영희', '나영', '민식', '호영')

In [ ]:
stud1=("철수",98)
print(stud1)

('철수', 98)

In [ ]:
print(stud1[0])
print(stud1[1])

철수
98

In [ ]:
a,b=["python","bigdata"]

In [ ]:
print(a)

python

In [ ]:
print(b)

bigdata

In [ ]:
def divmod(a,b):
    return[a//b,a%b]

result = divmod(7,3)
print(result)

[2, 1]

In [ ]:
x,y = divmod(7,3)
print("몫: ", x,", 나머지: ", y)

몫:  2 , 나머지:  1

In [ ]:
print(-1%7)

6

In [ ]:
mydata =[[88,72,83,90],[63,77,72,80]]

for row in mydata:
    print("이번에 출력되는 데이터 -> ",row)

    total=0

    for col in row:
        total+=col

    average = total/len(row)

    print(row,"에 대한 총합 =", total, ", 평균 =",average)

이번에 출력되는 데이터 ->  [88, 72, 83, 90]
[88, 72, 83, 90] 에 대한 총합 = 333 , 평균 = 83.25

KeyboardInterrupt:

In [ ]:
numer1=2
denom1=8
numer2=3
denom2=8
answer = []
numer = numer1*denom2+numer2*denom1
denom = denom1*denom2
for i in range(2,numer+1):
    print(numer,denom)
    if(numer%i==0 and denom%i==0):
        while numer % i == 0 and denom % i == 0:
            print(i)
            numer //= i
            denom //= i
answer.append(numer)
answer.append(denom)
print(answer)

40 64
2
2
2
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
5 8
[5, 8]

In [ ]:
seasons = ['봄','여름','가을','겨울']

size = len(seasons)
for i in range(0,size):
    print(i,"번째 원소:", seasons[i])

0 번째 원소: 봄
1 번째 원소: 여름
2 번째 원소: 가을
3 번째 원소: 겨울

In [ ]:
msg = ['python','is','good']

for i in msg:
    print(i)

python
is
good

In [ ]:
score = [100,82,98,76,51]

total = 0

for v in score:
    total+=v

avg = total // len(score)

print("총점:", total,", 평균:", avg)

총점: 407 , 평균: 81

In [ ]:
city = ['서울','인천','대구','대전','광주','부산']

for i, v in enumerate(city):
    print(i,"번째 값:", v)

0 번째 값: 서울
1 번째 값: 인천
2 번째 값: 대구
3 번째 값: 대전
4 번째 값: 광주
5 번째 값: 부산

In [ ]:
mydata = [[88,72,83,90],[63,77,72,80]]

size = len(mydata)
print("size = ",size)

for i in range(0,size):
    print(i,"번째 데이터 ->", mydata[i])

size =  2
0 번째 데이터 -> [88, 72, 83, 90]
1 번째 데이터 -> [63, 77, 72, 80]

In [ ]:
size = len(mydata)
print("size=",size)

for i in range(0,size):
    print(i, "번째 데이터 ->", mydata[i])

    total = 0
    size = len(mydata[i])

    for j in range(0,size):
        total += mydata[i][j]
    average = total / size
    print(i,"번째 데이터 ==> 총합 = ", total, "평균=", average)

size= 2
0 번째 데이터 -> [88, 72, 83, 90]
0 번째 데이터 ==> 총합 =  333 평균= 83.25
1 번째 데이터 -> [63, 77, 72, 80]
1 번째 데이터 ==> 총합 =  292 평균= 73.0

In [ ]:
mylist = [1,2,3,10,1,2,3,10]
x=mylist.index(10)

In [ ]:
print(x)

3

In [ ]:
y=mylist.index(5)

ValueError: 5 is not in list

In [ ]:
mylist=[1,2,3]
print(len(mylist))

3

In [ ]:
mylist=[1,2,3]
del(mylist[1])
print(mylist)

[1, 3]

In [ ]:
mylist=[4,2,5,3,1]
print(mylist)

[4, 2, 5, 3, 1]

In [ ]:
asc=sorted(mylist)
print(asc)

[1, 2, 3, 4, 5]

In [ ]:
desc = sorted(mylist,reverse=True)
print(desc)

[5, 4, 3, 2, 1]

In [ ]:
print(mylist)

[4, 2, 5, 3, 1]

In [ ]:
a=[1,2,3]
print(max(a))

3

In [ ]:
print(min(a))

1

In [ ]:
print(sum(a))

6

In [ ]:
msg1 = "Life is too short"
msg2 = 'You need Python'
print(msg1)
print(msg2)

Life is too short
You need Python

In [ ]:
mymsg = "Hello"

for m in mymsg:
    print(m)

H
e
l
l
o

In [ ]:
msg1 = "Hello"
msg2 = "Python"
print(msg1 + ", " + msg2)

Hello, Python

In [ ]:
pay = "20000"
bonus = "100"
print(pay+bonus)

20000100

In [ ]:
name = "Python"
print(name*5)

PythonPythonPythonPythonPython

In [ ]:
case1 = "Life is \"too\" short"
print(case1)

Life is "too" short

In [ ]:
case2 = 'Life is \'too\' short'
print(case2)

Life is 'too' short

In [ ]:
print("Life is too short\nYou need Python")

Life is too short
You need Python

In [ ]:
print("Life is too short\\You need Python")

Life is too short\You need Python

In [ ]:
str1 = "You 'need' Python"

In [ ]:
print(str1)

You 'need' Python

In [ ]:
str2 = 'You "need" python'

In [ ]:
print(str2)

You "need" python

In [ ]:
mystr = "Life is too short, You need Python"
mystr

'Life is too short, You need Python'

In [ ]:
print(mystr[3])

e

In [ ]:
print(mystr[-3])

h

In [ ]:
print(mystr[4:8])

 is

In [ ]:
print(mystr[-11:-7])

need

In [ ]:
print(mystr[0:4])

Life

In [ ]:
print(mystr[5:7])

is

In [ ]:
print(mystr[19:])

You need Python

In [ ]:
print(mystr[:17])

Life is too short

In [ ]:
print(mystr[:])

Life is too short, You need Python

In [ ]:
print(mystr[19:-7])

You need

In [ ]:
print(mystr[7:5])

In [ ]:
str1 = "나는 %d원을 갖고 있다." %10000
print(str1)

나는 10000원을 갖고 있다.

In [ ]:
money = 123.456789
print("[%f]원 입니다." %money)

[123.456789]원 입니다.

In [ ]:
lang = "Python"
str2 = "Hello %s" % lang
print(str2)

Hello Python

In [ ]:
str3 = "%s 날짜는 %d년 %d월 %d일 입니다."
msg1 = str3 %("정모", 2023,1,1)

In [ ]:
msg2 = str3%("약속", 2023,3,5)
print(msg1)
print(msg2)

정모 날짜는 2023년 1월 1일 입니다.
약속 날짜는 2023년 3월 5일 입니다.

In [ ]:
print("[%10d]원을 입금했습니다." %120000)

[    120000]원을 입금했습니다.

In [ ]:
print("[%010d]원을 입금했습니다." % 120000)

[0000120000]원을 입금했습니다.

In [ ]:
print("[%10s]에 살고 있습니다." % "대한민국")

[      대한민국]에 살고 있습니다.

In [ ]:
myMoney = 12345.6789

print("[%0.3f]원 입니다." % myMoney)

[12345.679]원 입니다.

In [ ]:
print("[%10.3f]원 입니다." %myMoney)

[ 12345.679]원 입니다.

In [ ]:
print("[%010.3f]원 입니다." %myMoney)

[012345.679]원 입니다.

In [ ]:
msg1 = "I eat {0} apples"
print(msg1.format(3))

I eat 3 apples

In [ ]:
msg2 = "{0}은 {1}년 {2}월 {3}일 입니다."
print(msg2.format("개강일",2023,1,26))

개강일은 2023년 1월 26일 입니다.

In [ ]:
fmt = "이 과자는 {price}{unit} 입니다."
rst = fmt.format(unit = "원",price = 2000)
print(rst)

이 과자는 2000원 입니다.

In [ ]:
msg4 = "{0}은 {yy}년 {mm}월 {dd}일 입니다."
print(msg4.format("생일",yy=2023,mm=1,dd=31))

생일은 2023년 1월 31일 입니다.

In [ ]:
fmt5 = "{1} {name}는 이 {0} 입니다."
rst = fmt5.format("책","좋은", name="교과서")
print(rst)

좋은 교과서는 이 책 입니다.

In [ ]:
mystr = "Hello Python"
length = len(mystr)
print(length)

12

In [ ]:
print(len("안녕하세요 파이썬"))

9

In [ ]:
num1 = 123
num1_s = str(num1)

In [ ]:
print(type(num1_s))

<class 'str'>

In [ ]:
print(num1_s)

123

In [ ]:
bool1=True
bool1_s = str(bool1)
print(type(bool1_s))
print(bool1_s)

<class 'str'>
True

In [ ]:
num2 = 123.45
num2_s = str(num2)
print(type(num2_s))
print(num2_s)

<class 'str'>
123.45

In [ ]:
mystr = "파이썬은 웹 프로그래밍이나 데이터 분석에 많이 사용되는 언어입니다."
print(mystr.count("이"))
print(mystr.count("가"))

4
0

In [ ]:
print(mystr.count("파이썬"))
print(mystr.count("Python"))

1
0

In [ ]:
message = "내가 좋아하는 것에만 집중하기로 했다."

print(message.find("가"))
print(message.find("나"))

1
-1

In [ ]:
print(message.find("집중"))
print(message.find("파이썬" \
""))

12
-1

In [ ]:
sentence = "사람의 사람에 의한 사람을 위한"

print(sentence.rfind("사"))
print(sentence.rfind("자"))

11
-1

In [ ]:
print(sentence.rfind("사람"))
print(sentence.rfind("인간"))

11
-1

In [ ]:
test3 = "HELLO"
print(test3.isupper())

True

In [ ]:
test4 = "Hello"
print(test4.isupper())

False

In [ ]:
test5 = "hello"
print(test5.islower())

True

In [ ]:
test6 = "Hello"
print(test6.islower())

False

In [ ]:
mystr="Hello Python"
up = mystr.upper()
print(up)

HELLO PYTHON

In [ ]:
lw = mystr.lower()
print(lw)

hello python

In [ ]:
print(mystr)

Hello Python

In [ ]:
print(mystr.swapcase())

hELLO pYTHON

In [ ]:
print(mystr.capitalize())

Hello python

In [ ]:
print(mystr.title())

Hello Python

In [ ]:
k=" python  "
print("["+ k +"]")

[ python  ]

In [ ]:
x = k.strip()
print("["+x+"]")

[python]

In [ ]:
y = k.lstrip()
print("["+y+"]")

[python  ]

In [ ]:
z=k.rstrip()
print("["+z+"]")

[ python]

In [ ]:
myMessage="Hello World"
newMessage=myMessage.replace("World", "Python")

In [ ]:
print(newMessage)
print(myMessage)

Hello Python
Hello World

In [ ]:
sample1 = "파이썬,데이터분석,머신러닝"
slist1 = sample1.split(",")
print(slist1)

['파이썬', '데이터분석', '머신러닝']

In [ ]:
sample2 = "파이썬 데이터분석 머신러닝"
slist2 = sample2.split()
print(slist2)

['파이썬', '데이터분석', '머신러닝']

In [ ]:
test1 = "123"
print(test1.isnumeric())

True

In [ ]:
test2="Hello123"
print(test2.isnumeric())

False

In [ ]:
mydic={"name":"철수","phone": "010-1234-5678","birth":"0115"}
print(mydic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

In [ ]:
print(mydic["name"])

철수

In [ ]:
phone = mydic["phone"]

In [ ]:
print(phone)

010-1234-5678

In [ ]:
mydic["name"] = "호영"
print(mydic)

{'name': '호영', 'phone': '010-1234-5678', 'birth': '0115'}

In [ ]:
foo = {"a":100,"b":200}
foo["c"]=300
print(foo)

{'a': 100, 'b': 200, 'c': 300}

In [ ]:
data={"msg":"hello","msg":"world","msg":"python"}
print(data['msg'])
data

python

{'msg': 'python'}

In [ ]:
grade = [
    {"name":"철수","kor":95,"eng":88},
    {"name":"영희","kor":92,"eng":90},
    {"name":"철민","kor":88,"eng":76},
]

print("0번째 원소: %s" % grade[0])
print("1번째 원소: %s" % grade[1])
print("2번째 원소: %s" % grade[2])

0번째 원소: {'name': '철수', 'kor': 95, 'eng': 88}
1번째 원소: {'name': '영희', 'kor': 92, 'eng': 90}
2번째 원소: {'name': '철민', 'kor': 88, 'eng': 76}

In [ ]:
tpl = "{0}의 국어점수:{1}, 영어점수: {2}"
print(tpl.format(grade[0]["name"], grade[0]["kor"],grade[0]["eng"]))
print(tpl.format(grade[1]["name"], grade[1]["kor"],grade[1]["eng"]))
print(tpl.format(grade[2]["name"], grade[2]["kor"],grade[2]["eng"]))

철수의 국어점수:95, 영어점수: 88
영희의 국어점수:92, 영어점수: 90
철민의 국어점수:88, 영어점수: 76

In [ ]:
student = {
    "name": ['철수','민수','호영'],
    "age" : [16,17,19],
    "height": [172.4,168.2,170.5]
}
tpl = "[%s] 나이: %d세, 키: %0.1fcm"
print(tpl % (student['name'][0], student['age'][0], student['height'][0]))
print(tpl % (student['name'][1], student['age'][1], student['height'][1]))
print(tpl % (student['name'][2], student['age'][2], student['height'][2]))

[철수] 나이: 16세, 키: 172.4cm
[민수] 나이: 17세, 키: 168.2cm
[호영] 나이: 19세, 키: 170.5cm

In [ ]:
phone = {
    "apple": {
        "name":"iPhone",
        "price":"200$"
    },
    "samsung":{
        "name":"Galluxy",
        "price":"200만원"
    }
}

tpl = "%s의 가격은 %s입니다."
print(tpl % (phone['apple']['name'], phone['apple']['price']))
print(tpl % (phone['samsung']['name'], phone['samsung']['price']))

iPhone의 가격은 200$입니다.
Galluxy의 가격은 200만원입니다.

In [ ]:
review = {
    "items": [
        {"email": "user1@python.com","comment": "Good~!!"},
        {"email": "user2@python.com","comment": "Nice~!!"},
        {"email": "user3@python.com","comment": "Not Bad"}
    ]
}

tpl = "email: {0}, comment: {1}"
for item in review["items"]:
    print(tpl.format(item["email"],item["comment"]))

email: user1@python.com, comment: Good~!!
email: user2@python.com, comment: Nice~!!
email: user3@python.com, comment: Not Bad

In [ ]:
lectures = {
    "title" : "파이썬 프로그래밍",
    "subject" : [
        {"no": 1, "date": "1일차","title": "프로그래밍 언어의 이해"},
        {"no": 2, "date": "2일차","title": "변수와 연산자"},
        {"no": 3, "date": "3일차","title": "함수의 이해"},
        {"no": 4, "date": "4일차","title": "조건문과 반복문"}
    ]
}

print(lectures["title"])

tpl = "No.{0} - {1} : {2}"
for subject in lectures["subject"]:
    print(tpl.format(subject["no"], subject["date"], subject["title"]))

파이썬 프로그래밍
No.1 - 1일차 : 프로그래밍 언어의 이해
No.2 - 2일차 : 변수와 연산자
No.3 - 3일차 : 함수의 이해
No.4 - 4일차 : 조건문과 반복문

In [ ]:
point = {"korean":98,"math":77,"english":82}
len(point)

3

In [ ]:
del(point['english'])
print(point)

{'korean': 98, 'math': 77}

In [ ]:
dic = {"name":"철수","phone":"010-1234-5678","birth":"0115"}
print(dic.get("name"))

철수

In [ ]:
print(dic.get("gender"))

None

In [ ]:
foo = {"a":100, "b":200}
print(foo.get("c",300))

300

In [ ]:
성적표 = {"국어":92,"수학":88,"영어":72}

keys = 성적표.keys()
print(keys)

dict_keys(['국어', '수학', '영어'])

In [ ]:
key_list=list(keys)
print(key_list)

['국어', '수학', '영어']

In [ ]:
keyList = list(성적표.keys())
keyList

['국어', '수학', '영어']

In [ ]:
values = 성적표.values()
print(values)

dict_values([92, 88, 72])

In [ ]:
value_list = list(values)
print(value_list)

[92, 88, 72]

In [ ]:
valueList = list(성적표.values())
valueList

[92, 88, 72]

In [ ]:
성적표1 = {"국어":92, "수학":88, "영어": 72}
성적표2 = {"물리" : 78, "화학": 82}

성적표1.update(성적표2)
print(성적표1)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [ ]:
성적표최종 = 성적표1.copy()
print(성적표최종)

{'국어': 92, '수학': 88, '영어': 72, '물리': 78, '화학': 82}

In [ ]:
bar = {"a": 100, "b": 200}
print(bar)

{'a': 100, 'b': 200}

In [ ]:
bar.clear()
print(bar)

{}

In [ ]:
# f = open("helloworld.txt","w",encoding='utf-8')
# f.write("Hello Python!!!\n")
# f.write("안녕하세요. 파이썬!!!\n")

# f.close()

f = open("helloworld.txt","r",encoding='utf-8')
data=f.read()
print(data)

f.close()

Hello Python!!!
안녕하세요. 파이썬!!!

In [ ]:
with open("hellopython.txt", "w", encoding='utf-8') as f:
    for i in range(0,10):
        f.write("%d >> " %i)
        f.write("Life is too short, ")
        f.write("you need python\n")

    print("파일 저장이 완료되었습니다.")

파일 저장이 완료되었습니다.

In [ ]:
with open("hellopython.txt", "r", encoding='utf-8')as f:
    data = f.read()
    print(data)

0 >> Life is too short, you need python
1 >> Life is too short, you need python
2 >> Life is too short, you need python
3 >> Life is too short, you need python
4 >> Life is too short, you need python
5 >> Life is too short, you need python
6 >> Life is too short, you need python
7 >> Life is too short, you need python
8 >> Life is too short, you need python
9 >> Life is too short, you need python

In [ ]:
with open("helloworld.txt", "r", encoding='utf-8') as f:
    lines = f.readlines()
    print(lines)
    print("-" * 30)

    size = len(lines)
    print("읽어들인 데이터는 총 %d줄 입니다." % size)
    print("-" * 30)

    for item in lines:
        print(item.strip())

['Hello Python!!!\n', '안녕하세요. 파이썬!!!\n']
------------------------------
읽어들인 데이터는 총 2줄 입니다.
------------------------------
Hello Python!!!
안녕하세요. 파이썬!!!

In [ ]:
grade = [
    {"name": "철수","kor":95,"eng":88,"math":72},
    {"name": "영희","kor":92,"eng":90,"math":95},
    {"name": "철민","kor":88,"eng":76,"math":64}
]

tpl = "{0},{1},{2},{3}\n"

with open("grade.csv", "w", encoding='euc-kr')as f:
    f.write("이름,국어,영어,수학\n")

    for item in grade:
        tmp = tpl.format(item["name"], item["kor"],item["eng"],item["math"])
        f.write(tmp)

In [ ]:
grade_dic = {
    '이름' : ['철수','영희','민철','수현','호영'],
    '국어' : [98,88,92,63,120],
    '영어' : [76,90,70,60,50],
    '수학' : [88,62,88,31,76],
    '과학' : [64,72,45,70,88]
}

tpl = "{0},{1},{2},{3},{4}\n"
keys = list(grade_dic.keys())
p=","
title=p.join(keys)

with open("grade2.csv", "w", encoding='euc-kr')as f:
    f.write(title + "\n")

    for i in range(0,len(grade_dic['이름'])):
        tmp = tpl.format(grade_dic['이름'][i],grade_dic['국어'][i],grade_dic['영어'][i],grade_dic['수학'][i],grade_dic['과학'][i])
        f.write(tmp)

In [ ]:
try:
    with open("covid19.csv", 'r', encoding='euc-kr') as f:
        csv_list = f.readlines()

        # for i in range(5):
        #     print(csv_list[i].strip())

        size = len(csv_list)-1

        seoul_confirm_sum = 0
        seoul_death_sum=0
        nation_confirm_sum=0
        nation_death_sum=0
        for i, line in enumerate(csv_list):
            if i==0:
                continue
            k= line.strip().split(",")

            if k[1].isnumeric():    seoul_confirm_sum+=int(k[1])
            if k[2].isnumeric():    seoul_death_sum+=int(k[2])
            if k[3].isnumeric():    nation_confirm_sum+=int(k[3])
            if k[4].isnumeric():    nation_death_sum+=int(k[4])

    print("서울 일 평균 확진자 수 : %.2f명" %(seoul_confirm_sum/size))
    print("서울 일 평균 사망자 수 : %.2f명" %(seoul_death_sum/size))
    print("전국 일 평균 확진자 수 : %.2f명" %(nation_confirm_sum/size))
    print("전국 일 평균 사망자 수 : %.2f명" %(nation_death_sum/size))

except Exception as e:
    print("csv 파일 처리 실패.", e)
finally:
    print("-" * 30)
    print("작업이 완료되었습니다.")

서울 일 평균 확진자 수 : 5119.41명
서울 일 평균 사망자 수 : 3.40명
전국 일 평균 확진자 수 : 26141.33명
전국 일 평균 사망자 수 : 19.72명
------------------------------
작업이 완료되었습니다.

In [ ]:
class Dragoon:
    speed=None
    hp=None
    attack=None
    defense=None

dg1 = Dragoon()

dg1.speed=10
dg1.hp=100
dg1.attack=20
dg1.defense=5

tpl = "speed: {0}, hp:{1}, attack:{2}, defense: {3}"
print(tpl.format(dg1.speed,dg1.hp,dg1.attack,dg1.defense))

speed: 10, hp:100, attack:20, defense: 5

In [ ]:
dg1.speed+=1
dg1.hp+=10
dg1.attack+=2
dg1.defense+=1
dg1.hp-=10

tpl = "speed:{0}, hp:{1}, attack:{2}, defense:{3}"
print(tpl.format(dg1.speed,dg1.hp,dg1.attack,dg1.defense))

speed:11, hp:100, attack:22, defense:6

In [ ]:
dg2 = Dragoon()
dg2.speed=12
dg2.hp=120
dg2.attack=22
dg2.defense=7

tpl = "speed: {0},hp:{1},attack:{2},defense:{3}"
print(tpl.format(dg1.speed,dg1.hp,dg1.attack,dg1.defense))
print(tpl.format(dg2.speed,dg2.hp,dg2.attack,dg2.defense))

speed: 11,hp:100,attack:22,defense:6
speed: 12,hp:120,attack:22,defense:7

In [ ]:
class Probe:
    def move(self,x,y):
        print("좌표 ({0}, {1})로 이동합니다.".format(x,y))
    def mineral(self):
        print("광물을 채집합니다.(+10)")
        return 10
    def gas(self):
        print("가스를 채집합니다.(+5)")
        return 5

probe1 = Probe()
probe1.move(10,10)

my_mineral = 0
my_mineral +=probe1.mineral()
my_mineral +=probe1.mineral()
my_mineral +=probe1.mineral()

my_gas =0
my_gas += probe1.gas()
my_gas += probe1.gas()

print("채취된 광물: {0}, 채취된 가스: {1}".format(my_mineral,my_gas))

좌표 (10, 10)로 이동합니다.
광물을 채집합니다.(+10)
광물을 채집합니다.(+10)
광물을 채집합니다.(+10)
가스를 채집합니다.(+5)
가스를 채집합니다.(+5)
채취된 광물: 30, 채취된 가스: 10

In [ ]:
class Zealot:
    hp = None
    dps = None

    def state(self):
        print("상태확인 >>> hp: {0}, dps: {1}".format(self.hp, self.dps))

    def level_up(self):
        self.hp +=10
        self.dps +=2
        print("레벨업을 하여 체력(+10), 공격력(+2)이 증가합니다.")

    def attacked(self, enemy_attack):
        self.hp -= enemy_attack
        print("{0}의 공격을 받아 hp가 {1}만큼 감솧바니다.".format(enemy_attack,self.hp))

zealot1 = Zealot()
zealot1.hp = 100
zealot1.dps = 20

zealot1.state()
zealot1.attacked(30)
zealot1.state()
zealot1.level_up()
zealot1.state()

상태확인 >>> hp: 100, dps: 20
30의 공격을 받아 hp가 70만큼 감솧바니다.
상태확인 >>> hp: 70, dps: 20
레벨업을 하여 체력(+10), 공격력(+2)이 증가합니다.
상태확인 >>> hp: 80, dps: 22

In [ ]:
class Marine:
    name=None
    hp=None

    def __init__(self,name,hp):
        self.name = name
        self.hp = hp
        print("[{0}] You wanna piece of me, boy?".format(self.name))

    def state(self):
        print("[{0}] hp: {1}".format(self.name, self.hp))

    def level_up(self):
        self.hp +=5
        print("[{0}] 레벨업을 하여 체력(+5)이 증가합니다.".format(self.name))
    
    def attacked(self,enemy_attack):
        self.hp-=enemy_attack
        print("[{0}] 적의 공격을 받아 hp가 {1} 감소합니다.".format(self.name,enemy_attack))

m1=Marine("마린1",100)
m2=Marine("마린2",100)

m1.state()
m2.state()

m1.attacked(30)
m2.attacked(20)

m1.state()
m2.state()

m1.level_up()
m2.level_up()

m1.state()
m2.state()

[마린1] You wanna piece of me, boy?
[마린2] You wanna piece of me, boy?
[마린1] hp: 100
[마린2] hp: 100
[마린1] 적의 공격을 받아 hp가 30 감소합니다.
[마린2] 적의 공격을 받아 hp가 20 감소합니다.
[마린1] hp: 70
[마린2] hp: 80
[마린1] 레벨업을 하여 체력(+5)이 증가합니다.
[마린2] 레벨업을 하여 체력(+5)이 증가합니다.
[마린1] hp: 75
[마린2] hp: 85

In [ ]:
class Vulture:
    __name = None
    __hp = None
    __dps = None

    @property
    def name(self):
        return self.__name
    
    @name.setter
    def name(self, value):
        self.__name = value

    @property
    def hp(self):
        return self.__hp
    
    @hp.setter
    def hp(self, value):
        if value < 1:
            value = 1
        self.__hp = value

    @property
    def dps(self):
        return self.__dps

    @dps.setter
    def dps(self, value):
        if value < 1:
            value = 1
        self.__dps = value

    def __init__(self, name=None, hp=0, dps=0):
        self.name = name
        self.hp = hp
        self.dps = dps
        print("[{0}] Alright! Bring it on!".format(self.name))
    
    def state(self):
        print("[{0}] hp: {1}, dps:{2}".format(self.name, self.hp, self.dps))

    def level_up(self):
        self.hp +=5
        self.dps +=1
        print("[{0}] 레벨업을 하여 체력(+5), 공격력(+1)이 증가합니다.".format(self.name))

    def attacked(self, enemy_attack):
        self.hp -=enemy_attack
        print("[{0}] 적의 공격을 받아 hp가 {1} 감소합니다.".format(self.name, enemy_attack))

    def attack(self,target):
        print("[{0}] {1}에게 초당 {2}만큼의 피해를 주는 공격을 가합니다.".format(self.name,target,self.dps))

v1 = Vulture("벌처1", 100)
v2 = Vulture("벌처2", 100, 20)

v1.state()
v2.state()

v1.attacked(30)
v2.attacked(20)

v1.state()
v2.state()

v1.level_up()
v2.level_up()

v1.state()
v2.state()

v1.attack("적1")
v2.attack("적2")

[벌처1] Alright! Bring it on!
[벌처2] Alright! Bring it on!
[벌처1] hp: 100, dps:1
[벌처2] hp: 100, dps:20
[벌처1] 적의 공격을 받아 hp가 30 감소합니다.
[벌처2] 적의 공격을 받아 hp가 20 감소합니다.
[벌처1] hp: 70, dps:1
[벌처2] hp: 80, dps:20
[벌처1] 레벨업을 하여 체력(+5), 공격력(+1)이 증가합니다.
[벌처2] 레벨업을 하여 체력(+5), 공격력(+1)이 증가합니다.
[벌처1] hp: 75, dps:2
[벌처2] hp: 85, dps:21
[벌처1] 적1에게 초당 2만큼의 피해를 주는 공격을 가합니다.
[벌처2] 적2에게 초당 21만큼의 피해를 주는 공격을 가합니다.

In [ ]:
class Terran:
    name = None
    hp = None

    def __init__(self, name, hp):
        self.name = name
        self.hp = hp
    
    def info(self):
        return "[%s] HP: %d" % (self.name,self.hp)
    
class Marine(Terran):
    def shoot(self, attack):
        return "[%s] 총을 쏘아 %d의 데미지를 입혔습니다." %(self.name, attack)
    
m = Marine('마린1', 45)
print(m.info())
print(m.shoot(100))

[마린1] HP: 45
[마린1] 총을 쏘아 100의 데미지를 입혔습니다.

In [ ]:
class Medic(Terran):
    mana = None

    def __init__(self,name,hp,mana):
        super().__init__(name,hp)

        self.mana = mana

    def info_ex(self):
        info_msg = super().info()
        info_msg += ", MANA: %d" %self.mana
        return info_msg
    
    def heel(self, target):
        self.mana -=5
        return "[%s] %s의 체력을 회복시킵니다. (mana: -5)" % (self.name, target)
    
md = Medic('메딕1', 30, 100)
print(md.info_ex())
print(md.heel('마린1'))

[메딕1] HP: 30, MANA: 100
[메딕1] 마린1의 체력을 회복시킵니다. (mana: -5)

In [39]:
class SiegeTank(Terran):
    siege_mode = None

    def __init__(self, name, hp=150, siege_mode=False):
        super().__init__(name,hp)
        self.siege_mode = siege_mode

    def set_siege(self,on):
        self.siege_mode = bool(on)

    def info(self):
        base = super().info()

        if self.siege_mode:
            mode = '시즈모드'
        else:
            mode = '아머드모드'

        return base + ", 상태: " +mode

t = SiegeTank('탱크1')
print(t.info())
t.set_siege(True)
print(t.info())

[탱크1] HP: 150, 상태: 아머드모드
[탱크1] HP: 150, 상태: 시즈모드